replicaCount: 3

image:
  repository: ghcr.io/${GITHUB_ORG}/implemented-reference-architecture/client
  pullPolicy: Always
  tag: main

nameOverride: web
fullnameOverride: web

serviceAccount:
  create: false

# Image pull secrets for GitHub Container Registry
imagePullSecrets:
  - name: ghcr-secret

podAnnotations: {}

securityContext: {}

podSecurityContext: {}

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  name: web
  tls: []

resources: {}

autoscaling:
  enabled: false
  targetCPUUtilizationPercentage: 80
  minReplicas: 1
  maxReplicas: 5
