replicaCount: 3

image:
  repository: client
  pullPolicy: Never
  tag: local

nameOverride: web
fullnameOverride: web

serviceAccount:
  create: false

podAnnotations: {}

securityContext: {}

podSecurityContext: {}

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: nginx
  name: web
  tls: []

resources: {}

autoscaling:
  enabled: false
  targetCPUUtilizationPercentage: 80
  minReplicas: 1
  maxReplicas: 5
