# Mac filesystem
.DS_Store

# Local .terraform directories
.terraform

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# K8s files
kubeconfig*
*key.json
*.tfvars
eks_user_creds.txt
v2_4_4*
# Secrets and environmental variables
.env

# Editor/IDE files
.idea
