apiVersion: apollographql.com/v1alpha2
kind: SupergraphSchema
metadata:
  name: reference-architecture-prod
  namespace: apollo
spec:
  graphRef: apollo-supergraph-k8s@prod
  selectors:
    - matchExpressions:
        - key: apollo.io/subgraph
          operator: Exists
  partial: false

