namespace: apollo

replicaCount: 3

image:
  repository: ghcr.io/${GITHUB_ORG}/reference-architecture/coprocessor
  pullPolicy: Always
  tag: main

nameOverride: coprocessor
fullnameOverride: coprocessor

serviceAccount:
  create: false

podAnnotations: {}

securityContext: {}

podSecurityContext: {}

service:
  type: ClusterIP
  port: 8081

ingress:
  enabled: false
  hosts:
    - host: coprocessor.local
      paths:
        - path: /
          pathType: Prefix
  tls: []

resources: {}

autoscaling:
  enabled: false
  targetCPUUtilizationPercentage: 80
  minReplicas: 1
  maxReplicas: 5
