name: Manual Deploy - Subgraphs

# Started from GH Docs
# https://docs.github.com/en/actions/deployment/deploying-to-your-cloud-provider/deploying-to-google-kubernetes-engine

# REQUIRED REPO SECRETS
#   - GCP_CREDENTIALS or AWS_ACCESS_KEY/SECRET
#   - CLUSTER_PREFIX
#   - APOLLO_KEY
#   - APOLLO_GRAPH_ID

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Git ref to deploy"
        type: string
        required: true
        default: main
      environment:
        description: "Target environment"
        type: choice
        required: true
        default: dev
        options:
          - dev
          - prod
      dry-run:
        type: boolean
        description: "Run a dry run with helm"
        required: false
        default: false
      debug:
        type: boolean
        description: "Run helm in debug mode"
        required: false
        default: false

jobs:
  determine_cloud_provider:
    uses: ./.github/workflows/_determine-provider.yaml
    secrets: inherit

  # Subgraph deployment is now handled by the operator
  # No manual deployment or publishing needed

  publish_pqs:
    needs: [determine_cloud_provider]
    if: always() &&
      (needs.determine_cloud_provider.outputs.apollo == 'true')
    uses: ./.github/workflows/_rover-client-pq-publish.yml
    secrets: inherit
    with:
      environment: ${{ inputs.environment }}
