name: Pull Request Check Deploy on Subgraph Chart

on:
  pull_request:
    paths:
      - "deploy/**"

jobs:
  # See GH Action: https://github.com/helm/chart-testing-action
  helm-lint-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Helm lint
        id: list-changed
        run: helm lint ./deploy/subgraph
